/* body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url(../src/assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}
.ME{
  animation:updown 3s linear infinite;
}
@keyframes updown {
  0%{
    transform: translateY(-20px);
  }
  50%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(-20px);
  }
}

code {
  font-family: monospace;
}
.pro{
  position: absolute;
  color:white;
  padding:5px;
}
.progress{
  height:30px;
  transition:0.5s ease;
}
.progress:hover{
  transform: scale(1.1);
}
.card img{
  width: 100px;
  height:100px;
  background-color:white;
}
.card{
  transition:0.5s ease;
}
.card:hover{
  background-color:#0d6efd;
  color: white;
  box-shadow:5px 5px 10px #2379f8;
  cursor: pointer;
}
span.navbar-text{
  display: flex;
  align-items: center;
}
.social-icon{
  display:inline-block;
  margin-left:14px;
}
.social-icon a{
  width: 44px;
  height:44px;
  background:rgba(217, 217, 217, 0.1);
  display:inline-flex;
  border-radius:50%;
  margin-right:6px;
  align-items:center;
  justify-content: center;
  line-height:1;
  border:1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before{
  content:"";
  width: 42px;
  height:42px;
  position: absolute;
  background-color: #ffffff;
  border-radius:50%;
  transform:scale(0);
  transition:0.3s ease-in-out;
}
.social-icon a:hover::before{
  transform:scale(1);
}
.social-icon a img{
  width:75%;
  height:75%;
  z-index:1;
  transition:0.3s ease-in-out;
} */
  /* .social-icon a:hover img{
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(90%) hue-rotate(346deg) ;
  } */